<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-toolbar color="primary">
    <ion-title>{{ texts[language].title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button size="small" (click)="switchLanguage('en')">EN</ion-button>
  <ion-button size="small" (click)="switchLanguage('es')">ES</ion-button>

  <ion-item>
    <ion-input 
      [(ngModel)]="newTask"
      [placeholder]="texts[language].placeholder">
    </ion-input>
  </ion-item>

  <ion-item *ngFor="let task of tasks; let i = index">

    <ion-checkbox slot="start" [(ngModel)]="task.done"></ion-checkbox>

    <span [ngClass]="{ 'completed': task.done }">
      {{ task.text }}
    </span>

    <ion-button slot="end" color="warning" (click)="editTask(i)">
      {{ texts[language].edit }}
    </ion-button>

    <ion-button slot="end" color="danger" (click)="deleteTask(i)">
      {{ texts[language].delete }}
    </ion-button>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      +
    </ion-fab-button>
  </ion-fab>

</ion-content>